<section class="w-75 mx-auto my-3">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-5 mt-5">
      <form [formGroup]="registerForm" (submit)="handleForm()">
      <div class="items">
        <label for="name">Name</label>
        <input class="form-control" formControlName="name" type="text" id="name">
        <div *ngIf="registerForm.get('name')?.errors &&registerForm.get('name')?.touched" class="mt-2">
          <p class="text-danger" *ngIf="registerForm.get('name')?.getError('required')"> Name Is Required</p>
        <p class="text-danger"  *ngIf="registerForm.get('name')?.getError('minlength')">Must Be 3 Character</p>
        <p class="text-danger"  *ngIf="registerForm.get('name')?.getError('maxlength')">Must Be 10 Character</p>
        </div>
      </div>
      <div class="items">
        <label for="email">Email</label>
        <input class="form-control" formControlName="email" type="email" id="email">
        <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">
         <p class="text-danger" *ngIf="registerForm.get('email')?.getError('required')"> Email Is Required</p>
         <p class="text-danger" *ngIf="registerForm.get('email')?.getError('email')"> Email Is Not Correct</p>
        </div>
      </div>
      <div class="items">
        <label for="password">Password</label>
        <input class="form-control" formControlName="password" type="password" id="password">
        <div *ngIf="registerForm.get('password')?.getError && registerForm.get('password')?.touched">
         <p class="text-danger" *ngIf="registerForm.get('password')?.getError('required')"> Password Is Required </p>
      <p class="text-danger" *ngIf="registerForm.get('password')?.getError('pattern')">Must Be At 6 Char</p>
        </div>
      </div>
      <div class="items">
        <label for="rePassword">RePassword</label>
        <input class="form-control" formControlName="rePassword" type="password" id="rePassword">
        <div  *ngIf="registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched">
         <p class="text-danger" *ngIf="registerForm.get('rePassword')?.getError('required')">RePassword Is Required </p>
         <p class="text-danger" *ngIf="registerForm.get('rePassword')?.getError('missmatch')">Password Configration Incorrect</p>
        </div>
      </div>
      <div class="items">
        <label for="phone">Phone</label>
        <input class="form-control" formControlName="phone" type="phone" id="phone">
      </div>
      <div>
        <p class="text-danger">{{Msg}}</p>
      </div>
      <button class="btn  my-2 ">Register</button>
      </form>
    </div>
    <div class="col-md-7">
      <img class="w-100 rounded-5" src="./../../../assets/wordpress-featured-image-01.webp" alt="">
    </div>
  </div>
</section>


