<section class="w-75 mx-auto shadow-sm my-5">
  <h1 class="text-center fst-italic fw-semibold">Welcom Back To Movies</h1>
  <div class="row p-3 m-0 justify-content-center align-items-center">
    <div class="col-md-5 shadow mt-5 rounded-5 form-Items">
      <form [formGroup]="loginForm" (ngSubmit)="handleForm()">
        <div class="items">
          <label   for="email">Eamil</label>
          <input class="form-control" formControlName="email" type="email" id="email">
          <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
                 <p class="text-danger my-2" *ngIf="loginForm.get('email')?.getError('required')">Email Is Not Required</p>
                 <p class="text-danger my-2" *ngIf="loginForm.get('email')?.getError('email')">Email Is Not Correct</p>
          </div>
        </div>
        <div class="itmes">
          <label for="password">password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
          <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
            <p class="text-danger" *ngIf="loginForm.get('password')?.getError('pattern')">Must BY Character 6 </p>
            <p class="text-danger" *ngIf="loginForm.get('password')?.getError('required')">Passowrd Is Required </p>
          </div>
        </div>
        <div class="MsError text-danger">
{{MsgError}}
        </div>
        <button class="btn my-2">Login</button>
      </form>
    </div>
    <div class="col-md-7">
      <div>
        <img class="w-100 rounded-5" src="./assets/depositphotos_98775856-stock-photo-retro-film-production-accessories-still.jpg" alt="" srcset="">
      </div>
    </div>
  </div>
</section>
