$--tmdbDarkBlue: 3, 37, 65;
.bg{
  background-color: rgba(0, 153, 204, 0.858);
  color: white !important;
}

// nav{
//   position: fixed;
//   z-index: 9999;
//   width: 100%;
//   margin-top: -16px;
// }
